In [2]:
import pandas as pd

# File to Load 
file_to_load = "HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
#purchase_data["SN"].nunique(dropna = True)

576

In [4]:
print("Total Players = ", purchase_data["SN"].nunique(dropna = True))

Total Players =  576

In [8]:
player_data_df = purchase_data.groupby("SN")

In [17]:
player_data_df.first()

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Adairialis76,467,16,Male,123,Twilight's Carver,2.28
Adastirin33,142,35,Female,175,Woeful Adamantite Claymore,4.48
Aeda94,388,17,Male,128,"Blazeguard, Reach of Eternity",4.91
Aela59,28,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
Aelaria33,630,23,Male,171,Scalpel,1.79
...,...,...,...,...,...,...
Yathecal82,125,20,Female,62,Piece Maker,1.87
Yathedeu43,93,22,Male,88,"Emberling, Defender of Delusions",3.75
Yoishirrala98,572,17,Female,145,Fiery Glass Crusader,4.58
Zhisrisu83,54,10,Male,25,Hero Cane,4.35
Zontibe81,17,21,Male,161,Devine,1.76

In [18]:
player_data_df.describe