In [2]:
import pandas as pd

# File to Load 
file_to_load = "documents/bootcamp/pandas-challenge/HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [3]:
total_purchases = len(purchase_data["Purchase ID"])
total_purchases

780

In [4]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [5]:
#purchase_data["SN"].unique()
total_players = purchase_data["SN"].nunique(dropna = True)
print("Total Players = ", total_players)

Total Players =  576

In [6]:
items = purchase_data["Item ID"].nunique(dropna = True)
items

179

In [7]:
average_price = purchase_data["Price"].mean()
average_price

3.050987179487176

In [8]:
summary = [{'Number of Unique Items' : items, 'Average Price' : average_price, 'Number of Purchases' : total_purchases, 'Total Revenue' : total_revenue}]
summary_df = pd.DataFrame(summary)
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

In [9]:
player_data_df = purchase_data.sort_values('SN')
player_data_df = player_data_df.drop_duplicates(subset='SN', keep='first')

gender_unique_df = player_data_df.groupby(['Gender'])
Gender_count = gender_unique_df['SN'].count()
Gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [10]:
percent_female = round(Gender_count[0]/Gender_count.sum() * 100)
percent_male = round(Gender_count[1]/Gender_count.sum() * 100)
percent_other = round(Gender_count[2]/Gender_count.sum() * 100)
gender_demo = [{'Gender': 'Female', 'Total Count' : Gender_count[0], 'Percent': percent_female},
                   {'Gender': 'Male', 'Total Count' : Gender_count[1], 'Percent': percent_male},
                    {'Gender': 'Other/Non-Disclosed', 'Total Count' : Gender_count[2], 'Percent': percent_other}]
gender_demo_df = pd.DataFrame(gender_demo)
gender_demo_df

                Gender  Total Count  Percent
0               Female           81     14.0
1                 Male          484     84.0
2  Other/Non-Disclosed           11      2.0

In [11]:
purchase_count = purchase_data.groupby(['Gender'])
total_purchase_count = purchase_count.count()
total_purchase_value = purchase_count["Price"].sum()
total_purchase_count
total_purchase_value
average_purchase_price_male = (total_purchase_value[1] / total_purchase_count)
average_purchase_price_female = (total_purchase_value[0]/total_purchase_count)
average_purchase_price_other = (total_purchase_value[2]/total_purchase_count)
average_purchase_price_other
total_purchase_value_male = total_purchase_value[1].sum()
total_purchase_value_female = total_purchase_value[0].sum()
total_purchase_value_other = total_purchase_value[2].sum()
#total_purchase_value_other
#purchase__per_personm = gender_unique_df[]
purchase_analysis_df = pd.DataFrame({'Gender': "Female", 'Purchase Count' : [total_purchase_count], 'Average Purchase Price': [average_purchase_price_female], 'Total Purchase Value': [total_purchase_value_female]},
                     {'Gender': "Male", 'Purchase Count' : [total_purchase_count], 'Average Purchase Price': [average_purchase_price_male], 'Total Purchase Value': [total_purchase_value_male]},
                     {'Gender': "Other", 'Purchase Count' : [total_purchase_count], 'Average Purchase Price': [average_purchase_price_other], 'Total Purchase Value': [total_purchase_value_other]})

#purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,Female,Purchase ID SN Age ...,Purchase ID SN ...,361.94
Purchase Count,Female,Purchase ID SN Age ...,Purchase ID SN ...,361.94
Average Purchase Price,Female,Purchase ID SN Age ...,Purchase ID SN ...,361.94
Total Purchase Value,Female,Purchase ID SN Age ...,Purchase ID SN ...,361.94

In [16]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 40]
player_data_by_age_df = pd.cut(player_data_df["age"], bins)
player_data_by_age_df

KeyError: 'age'