In [4]:
import pandas as pd

# File to Load 
file_to_load = "documents/bootcamp/pandas-challenge/HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [5]:
total_purchases = len(purchase_data["Purchase ID"])
total_purchases

780

In [6]:
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [7]:
#purchase_data["SN"].unique()
total_players = purchase_data["SN"].nunique(dropna = True)
print("Total Players = ", total_players)

Total Players =  576

In [8]:
items = purchase_data["Item ID"].nunique(dropna = True)
items

179

In [9]:
average_price = round(purchase_data["Price"].mean(),2)
average_price

3.05

In [10]:
summary = [{'Number of Unique Items' : items, 'Average Price' : average_price, 'Number of Purchases' : total_purchases, 'Total Revenue' : total_revenue}]
summary_df = pd.DataFrame(summary)
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179           3.05                  780        2379.77

In [11]:
player_data_df = purchase_data.sort_values('SN')
player_data_df = player_data_df.drop_duplicates(subset='SN', keep='first')

gender_unique_df = player_data_df.groupby(['Gender'])
Gender_count = gender_unique_df['SN'].count()
Gender_count

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [12]:
percent_female = round(Gender_count[0]/Gender_count.sum() * 100)
percent_male = round(Gender_count[1]/Gender_count.sum() * 100)
percent_other = round(Gender_count[2]/Gender_count.sum() * 100)
gender_demo = [{'Gender': 'Female', 'Total Count' : Gender_count[0], 'Percent': percent_female},
                   {'Gender': 'Male', 'Total Count' : Gender_count[1], 'Percent': percent_male},
                    {'Gender': 'Other/Non-Disclosed', 'Total Count' : Gender_count[2], 'Percent': percent_other}]
gender_demo_df = pd.DataFrame(gender_demo)
gender_demo_df

                Gender  Total Count  Percent
0               Female           81     14.0
1                 Male          484     84.0
2  Other/Non-Disclosed           11      2.0

In [66]:
purchase_count = purchase_data.groupby(['Gender'])
total_purchase_count = purchase_count.count()
total_purchase_value = purchase_count["Price"].sum()
total_purchase_count
total_purchase_value
average_purchase_price_male = (total_purchase_value[1] / total_purchase_count)
average_purchase_price_female = (total_purchase_value[0]/total_purchase_count)
average_purchase_price_other = (total_purchase_value[2]/total_purchase_count)
average_purchase_price_other
total_purchase_value_male = total_purchase_value[1].sum()
total_purchase_value_female = total_purchase_value[0].sum()
total_purchase_value_other = total_purchase_value[2].sum()
#total_purchase_value_other
#purchase__per_personm = gender_unique_df[]
purchase_analysis_df = pd.DataFrame({'Gender': str('Female'), 'Purchase Count' : [total_purchase_count], 'Average Purchase Price': [average_purchase_price_female], 'Total Purchase Value': [total_purchase_value_female]},
                     {'Gender': str('Male'), 'Purchase Count' : [total_purchase_count], 'Average Purchase Price': [average_purchase_price_male], 'Total Purchase Value': [total_purchase_value_male]},
                     {'Gender': str('Other'), 'Purchase Count' : [total_purchase_count], 'Average Purchase Price': [average_purchase_price_other], 'Total Purchase Value': [total_purchase_value_other]})

#purchase_analysis_df = pd.DataFrame(purchase_analysis)
purchase_analysis_df

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value
Gender,Female,Purchase ID SN Age ...,Purchase ID SN ...,361.94
Purchase Count,Female,Purchase ID SN Age ...,Purchase ID SN ...,361.94
Average Purchase Price,Female,Purchase ID SN Age ...,Purchase ID SN ...,361.94
Total Purchase Value,Female,Purchase ID SN Age ...,Purchase ID SN ...,361.94

In [14]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-40", "40+"]
player_data_by_age_df = pd.cut(player_data_df['Age'], bins, labels=labels)
player_ages = player_data_by_age_df.value_counts()
player_ages
age_brackets_percentage = round(player_ages/total_players*100, 2)
age_brackets_percentage
age_bracket_df = pd.DataFrame({"Total Count":player_ages, "Percentage of Players":age_brackets_percentage})
age_bracket_df = age_bracket_df.sort_index()
age_bracket_df

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-40           31                   5.38
40+             12                   2.08

In [27]:
purchase_data_df = purchase_data
purchase_data_df['Age Range'] = pd.cut(purchase_data['Age'], bins, labels=labels)
purchases_by_age = purchase_data_df['Age Range'].value_counts()
purchases_by_age = purchases_by_age.sort_index()
purchases_by_age

purchase_data_df = purchase_data_df.groupby(['Age Range'])
purchase_data_df
total_purchase_value_by_age = purchase_data_df['Price'].sum()
total_purchase_value_by_age
average_purchase_price_per_person = round(total_purchase_value_by_age / age_bracket_df['Total Count'], 2)
average_purchase_price_per_person
average_purchase_price = round(total_purchase_value_by_age / purchases_by_age, 2)
purchasing_analysis_df = pd.DataFrame({"Purchase Count":purchases_by_age, "Average Purchase Price":average_purchase_price, "Total Purchase Value":total_purchase_value_by_age, "Avg Total Purchase Per Person":average_purchase_price_per_person})
purchasing_analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
<10,23,3.35,77.13,4.54
10-14,28,2.96,82.78,3.76
15-19,136,3.04,412.89,3.86
20-24,365,3.05,1114.06,4.32
25-29,101,2.90,293.00,3.81
30-34,73,2.93,214.00,4.12
35-40,41,3.60,147.67,4.76
40+,13,2.94,38.24,3.19

In [64]:
#groupby screen name?
import heapq
top_spenders = purchase_data.groupby(['SN'])
top_spenders_total = top_spenders['Price'].sum()
#top_spenders_total
#top_spenders_total = top_spenders_total.sort()
top_five_spenders = heapq.nlargest(5, top_spenders_total)
top_five_spenders
#top_spenders_total
#top_five_spenders_df = pd.DataFrame({"Purchase Count":purchases_by_age, "Average Purchase Price":average_purchase_price, "Total Purchase Value":top_five_spenders})
#top_five_spenders_df

[18.96, 15.45, 13.83, 13.619999999999997, 13.1]

In [61]:
#Most Popular Items
items_df = purchase_data[['Item ID', 'Item Name','Price']].copy()
#items_df
most_popular_items_df = items_df.groupby(["Item ID","Item Name"])
#most_popular_items_df
popular_purchases = most_popular_items_df['Item ID'].value_counts()
popular_purchases
popular_purchases_value = most_popular_items_df['Price'].sum()
#popular_purchases_value = popular_purchases_value.sort_index()
popular_purchases_value
#popular_purchases_avg_price = (popular_purchases_value / popular_purchases)
#popular_purchases_avg_price
top_items_df = pd.DataFrame({"Total Purchase Value":popular_purchases_value})
top_items_df

                                                      Total Purchase Value
Item ID Item Name
0       Splinter                                                      5.12
1       Crucifer                                                     11.77
2       Verdict                                                      14.88
3       Phantomlight                                                 14.94
4       Bloodlord's Fetish                                            8.50
...                                                                    ...
178     Oathbreaker, Last Hope of the Breaking Storm                 50.76
179     Wolf, Promise of the Moonwalker                              26.88
181     Reaper's Toll                                                 8.30
182     Toothpick                                                    12.09
183     Dragon's Greatsword                                           3.27

[179 rows x 1 columns]